{% extends 'base.html' %}
{% load static %}
{% block link_css %}
    <link rel="stylesheet" href="{% static 'css/style3.css' %}">
{% endblock link_css %}
{% block content %}
<form method="post" action="{% url "list_add" %}">
    {% csrf_token %}
    <div id="todo">
        <h1>Мои списки дел</h1>
        <input required type="text" name="text" placeholder="Добавить список">
        <p><select name="select">
            <option value="new" selected>new</option>
            <option value="progress">progress</option>
            <option value="done">done</option>
        </select></p>
        <textarea name="des"></textarea>
        <br><br>
        <input type="date" name="date"/>
        <br><br>
        <button class="save" type="submit"> Сохранить</button>
        <button class="clear" type="reset">Очистить</button>
        <a class="showTips" href="{% url "view_list" %}">Список задач</a>
    </div>
    </div>
</form>
{% endblock content %}